/* Container holding the image and the text
 {
    position: relative;
    text-align: center;
    color: white;
} */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: larger;
    font-family: helvetica;
}
.Icons {
    display: flex;
    justify-content: space-between;
}
.text {
    color: black;
    font-size:xx-large;
    font-family: monospace;
    text-align: center;
}
.folio {
    font-size: xx-large;
    font-family: fantasy;
}

.txt {
    color: white;
    font-family: initial;
    font-size: smaller;
    text-align: center;
}

.Cntrd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: larger;
    font-family: helvetica;
}


  
.contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: larger;
    font-family: helvetica;
}
/* .IMAGES {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: xx-large;
} */
.IMAGES img {
    width: 200px;
}
.card {
    width: 200px;
}
.IMAGES {
    margin-left: 10%;
    margin-right: 10%;
}
.IMAGES h6 {
    text-align: center;
}
.card p{
    display: none;
    position: absolute;
    padding: 30px;
    background: rgba(85, 64, 104, 0.5);
    color: white;
    border: 2px solid white;
    margin-left: 5%;
    margin-top: 5%;
}
#username {
    height: 130px;
    width: 500px;
}
.Delani {
    background-image: url("../Images/Baraka/Images/backgrounds/h_img.jpg");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-family: helvetica;
}
.services {
    background-image: url("../Images/Baraka/Images/backgrounds/s_image.jpg");
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    width: 100%;
    font-size: larger;
    font-family: helvetica;
    padding: 70px;
}
.background {
    background-image: url("../Images/Baraka/Images/backgrounds/c_image.jpg");
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}
.icon {
    align-items: center;
    text-align: center;
}
/* .emblem {
    display: flex;
    justify-content: space-between;
} */
.hidden {
    display: none;
}
.about {
    align-items: center;
    text-align: center;
    font-family: helvetica;
}
